@import "normalize.styl"
@import "fonts.styl"
@import "nib"
/*em : Toma el font-size del padre; rem toma el font-size del body*/

// animacion(parametro)
// 	-webkit-animation parametro
// 	-moz-animation parametro
// 	-ms-animation parametro
// 	-o-animation parametro
// 	animation parametro

//NIB PERMITE LA SIMPLIFICACION DE PREFIJOS PROPIETARIOS
vendor-prefixes = webkit moz o ms official
gris_oscuro = #333333
gris_claro  = #818181
gris_claro2 = #C4C4C4
rojo-claro  = #BD255B
gray-body   = #F5F5F5
a
	text-decoration none
body		
	font-family: 'Varela Round', sans-serif;
	font-size 16px	
figure 
	margin 0
img 
	vertical-align top
ul
	margin 0
	padding 0
//OOCSS   Css orientado a clases
//___________________________________________

.center-block //Los elementos con la propiedad display: block se centran si titnen un ancho fijo
	margin 0 auto
	
.center-text
	text-align center
//___________________________________________

.header	
	height 3.5em
	position relative
	.title
		font-size 1.1em	
		line-height 3.5em
		margin 0 
		text-align center
	.button-menu
		color gris_oscuro
		left 0.3em
		margin-top -18px
		position absolute
		top 50%
		font-size 2.2em
.gray-border
	border-bottom 1px solid gris_claro2			

.container
	font-size 0	
	padding 1.4rem
	text-align center
	
.menu
	display none

.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em 
	text-align left
	width 8rem
	&:nth-child(even)	
		margin-right 0
	p
		margin 0.5em 0

.song-title
	color gris_oscuro
	margin-bottom 0
	font-size 18px
	
.artist
	padding-top 0
	margin-top 0.4em
	color gris_claro
	
.playing
	//display none
	&.small
		width 20em	
		margin 0 auto
	.image
		position relative	
	.actions
		background rgba(black, .3)
		bottom 0  //se posicionara en la parte superior del elemento con posicionamiento relative mas cercano
		left 0
		padding 1em
		position absolute
		right 0 
		text-align right	
	.action
		color white
		font-size 1.7em
		margin 0 0.4em
		&.gray
			color gris_claro		
		&:hover
			color gris_oscuro	
				
.pading
	padding 1em
.music-player
	padding 1em 0	

.progress
	margin 1em 0
	font-size 0.8em 
	position relative
	.min
		position absolute
		left 0
		top -5px
	.max
		position absolute
		right 0
		top -5px
	.total
		//margin 0 auto
		background gris_claro
		border-radius 6px		
		height 6px
		//width 78%
		width auto
		margin 0 3em				
	.state
		background rojo-claro
		border-radius 6px		
		height 6px
		position relative
		width 30%		
		animation 100s state infinite linear

	.circle
		background gris_oscuro			
		border-radius 50%
		height 12px
		position absolute
		right 0 
		top -3px
		width 12px		
		&:hover
			transition 0.2s
			transform scale(1.2, 1.2)
.wrap
	width 1000px
	margin 0 auto
	position relative	
.left
	float left
.right
	float right	
.song-album
	color gris_oscuro
	font-size 25px			
.inlineBlock
	display inline-block	
.round
	border-radius 50%
	overflow hidden
.fixlay
	display inline-block
	position absolute		
.relative
	position relative	
.input
	border 1px solid gris_claro2
	border-radius 5px
	height 2.5em
	width 200px
	padding 0 1em 0 2em
.search-icon
	color gris_claro
	left 5%	
	position absolute
	top 30%
	margin-right 1em
	&:hover
		cursor pointer
.salir-icon
	position absolute
	color gris_claro
	font-size 1.2em
	top 30%
	left 90%
	&:hover
		cursor pointer
		
.playlist
	border-left 1px solid gris_claro2
	display none
	padding 0 2em
	width 22em
	.list
		list-style none
		a 
			font-size 1.2em
			margin 0 0.1em
	.item
		padding 1em 0		

.isotipo
	width 122px
	display inline-block
.logo
	background white
	display none
	overflow hidden
	padding 1.3em 0			
.avatar
	height 38px
	width 38px	
.user		
	top 12%
	margin-left 4.5em
	left 75%	
.search		
	top 5%
	left 55%
.username
	color gris_claro
	margin-left 0.5em		
	position absolute
	top 9px
	&:after //Pseudoelemento de css:ubica elementos de diseño anttes o despues, siempre debe incluir el content ""
		border-left 7px solid transparent
		border-right 7px solid transparent
		border-top 9px solid gris_claro			
		bottom 20%
		content ""
		display inline-block
		left 110%
		position absolute

@keyframes state
	0% 
		width 0%
	100%
		width 100%	

@keyframes circle
	0%
		transform scale(1)
	100%
		transform scale(2)	
//Media queries

@media screen and (min-width:480px)	

	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto	
		

@media screen and (min-width:1000px)

	body
		background gray-body		
	.button-menu
		display none
	.playing
		padding-top 1.3em
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.menu
		display block
		overflow hidden
		border-top 1px solid gris_claro2			
		.item
			float left	
			list-style none			
			a
				color gris_oscuro
				cursor pointer						
				display block	
				padding 0.8em		
				text-transform uppercase
				border-top 5px solid transparent
				&:hover
					border-top 5px solid gris_claro
	.music
		width 32.5em		
		float left
		.description
			display none	
			
	.playlist
		display block		
	
	.header
		height auto
		background gray-body
		border none
		.title	
			display none	
	.logo
		display block
	
			
			


			


