@font-face
  font-family 'sfotipy'
  src url('../fonts/sfotipy.eot?-jdzd8f')
  src url('../fonts/sfotipy.eot?#iefix-jdzd8f') format('embedded-opentype'),
 url('../fonts/sfotipy.woff?-jdzd8f') format('woff'),
		url('../fonts/sfotipy.ttf?-jdzd8f') format('truetype'),
		url('../fonts/sfotipy.svg?-jdzd8f#sfotipy') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'sfotipy'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-añadir
  &:before
    content "\e600"

.icon-volume
  &:before
    content "\e601"

.icon-novolume
  &:before
    content "\e602"

.icon-user
  &:before
    content "\e603"

.icon-salir
  &:before
    content "\e604"

.icon-lock
  &:before
    content "\e605"

.icon-search
  &:before
    content "\e606"

.icon-play
  &:before
    content "\ea1c"

.icon-stop
  &:before
    content "\ea1e"

.icon-prev
  &:before
    content "\ea1f"

.icon-next
  &:before
    content "\ea20"

.icon-arrow-left2
  &:before
    content "\ea40"

.icon-youtube
  &:before
    content "\ea9a"

.icon-facebook
  &:before
    content "\e60c"

.icon-random
  &:before
    content "\e607"

.icon-arrow-left
  &:before
    content "\e608"

.icon-x
  &:before
    content "\e60e"

.icon-twitter
  &:before
    content "\e60d"

.icon-heart
  &:before
    content "\e609"

.icon-list
  &:before
    content "\e60a"

.icon-mail
  &:before
    content "\e60b"

